In [24]:
import numpy as np  # firstly we have import all needed libraries.
import pandas as pd  
import seaborn as sns
import matplotlib.pylab as plt

In [2]:
st=pd.read_csv(r"D:\Desktop\Python project datset\Student_Exam _score.csv")
st.head(2)

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88

In [3]:
st.shape # here is 30641 rows and 15 column

(30641, 15)

In [4]:
st.info() # heer it is clearly shows some columns have nullvalues beacuse total rows are 30641 and some columns have less than total rows.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30641 entries, 0 to 30640
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           30641 non-null  int64
 1   Gender               30641 non-null  object
 2   EthnicGroup          28801 non-null  object
 3   ParentEduc           28796 non-null  object
 4   LunchType            30641 non-null  object
 5   TestPrep             28811 non-null  object
 6   ParentMaritalStatus  29451 non-null  object
 7   PracticeSport        30010 non-null  object
 8   IsFirstChild         29737 non-null  object
 9   NrSiblings           29069 non-null  float64
 10  TransportMeans       27507 non-null  object
 11  WklyStudyHours       29686 non-null  object
 12  MathScore            30641 non-null  int64
 13  ReadingScore         30641 non-null  int64
 14  WritingScore         30641 non-null  int64
dtypes: float64(1), int64(4), object(10)
memory usage: 3.5+ MB

In [5]:
b=st.groupby('Gender').agg({"MathScore":"mean" ,"ReadingScore":"mean","WritingScore":"mean"})
print(b)
# it is clearly shows that the female got less marks than male while female reading and writign more than male.

        MathScore  ReadingScore  WritingScore
Gender
female  64.080654     72.853216     72.856457
male    69.069856     65.854571     63.920418

it is clearly shows that the female got less marks than male while female reading and writign more than male.

In [6]:
st.groupby("Gender").PracticeSport.value_counts()
# it is shows us the count of regularly exercise is approximate same for both.
#and it is also shows that the count of sometime and never Practice sports are also aproxmate saame for both.

Gender  PracticeSport
female  sometimes        7618
        regularly        5464
        never            2020
male    sometimes        7595
        regularly        5329
        never            1984
Name: count, dtype: int64

In [7]:
st.groupby("PracticeSport").agg({"MathScore":"mean","ReadingScore":"mean","WritingScore":"mean"})
# it is shows that Practise sports does'not effect score of studen.

               MathScore  ReadingScore  WritingScore
PracticeSport
never          64.171079     68.337662     66.522727
regularly      67.839155     69.943019     69.604003
sometimes      66.274831     69.241307     68.072438

In [8]:
st.groupby("ParentEduc").agg({"MathScore":"mean","ReadingScore":"mean","WritingScore":"mean"})
# Data shows that some students have maximum marks and some have averege marks.
# so those student have maximum marks and do more reading and writing,their parent have higher education.
# and those student got averge marks and do less reading and writing, their parents have lower education.

                    MathScore  ReadingScore  WritingScore
ParentEduc
associate's degree  68.365586     71.124324     70.299099
bachelor's degree   70.466627     73.062020     73.331069
high school         64.435731     67.213997     65.421136
master's degree     72.336134     75.832921     76.356896
some college        66.390472     69.179708     68.501432
some high school    62.584013     65.510785     63.632409

In [12]:
st.groupby(["LunchType","Gender"]).agg({"MathScore":"mean","ReadingScore":"mean","WritingScore":"mean"})
# we can see clearly that student which have standard lunch,achive more marks great than free/reduced lunch.

                     MathScore  ReadingScore  WritingScore
LunchType    Gender
free/reduced female  56.385072     67.726699     67.197549
             male    61.356262     60.628972     58.072897
standard     female  68.209803     75.603905     75.892807
             male    73.252255     68.687950     67.091010

In [18]:
st.groupby("IsFirstChild").agg({"MathScore":"mean","ReadingScore":"mean","WritingScore":"mean"})
# here we see the batter marks score does not depnads on that the sudent is first child or not.

              MathScore  ReadingScore  WritingScore
IsFirstChild
no            66.246832     69.132614     68.210887
yes           66.740646     69.542553     68.558484

In [23]:
st.groupby("TransportMeans").agg({"MathScore":"mean","ReadingScore":"mean","WritingScore":"mean"})
# there is no depandancy on transport i.e both type of student achive better marks.

                MathScore  ReadingScore  WritingScore
TransportMeans
private         66.511354     69.472364     68.509593
school_bus      66.674636     69.446206     68.492351

*RESULT
1=Gender Discrepancy in Marks:
  2=The data indicates that females tend to achieve lower marks compared to males, despite females dedicating more time to reading and writing activities than their male counterparts.

2=Impact of Sports Participation:
 Interestingly, there is no significant difference in the academic performance of students who participate in sports and those who do not. Both groups seem to achieve similar marks.

3=Parental Education Influence:
 The data suggests a correlation between students' academic performance and the education level of their parents. Students with parents who have higher education tend to perform better academically, whereas those with parents having lower education levels tend to score lower marks.

4=Lunch Type and Academic Achievement:
 The data also indicates that the type of lunch students have may play a role in their academic success. However, the specific details regarding this relationship are not provided in the summary.

In summary, the data reveals gender-based disparities in academic performance, the absence of a significant impact of sports participation on marks, the influence of parental education on students' performance, and a potential link between lunch type and academic achievement. Further analysis and exploration are needed to fully understand the underlying factors and nuances of these observations.